body {
    background-color: gray;
}

.jumbotron-fluid {
background-size: cover;
justify-self: center;
margin:5%;
}

#paint1{
    opacity:0.5;
}

#description{
justify-self: center;
letter-spacing: 1px;


}