body {
    background-color: gray;
}

.jumbotron {
background-size: cover;
    height: 100%;
    width:100%;
background-position: center center;

}

/* #paint1{
opacity: 0.5;
}

#first{
    width: 100%;
} */