

.jumbotron-fluid {
background-size: cover;
justify-self: center;
margin:5%;
}


#description, #description2{
justify-self: center;
letter-spacing: 1.5px;
justify-content: center;

}
.h4{
    justify-content: center;
}

